#
# Copyright (c) 2020 Nordic Semiconductor ASA
#
# SPDX-License-Identifier: LicenseRef-Nordic-5-Clause
#

menu "GPS Tracker"

config TRACCAR_HOSTNAME
    string "Server Hostname"
    depends on NETWORKING
    help
        Url for traccar server, eg traccar.example.com

config TRACCAR_PORT
    string "Port"
    depends on NETWORKING
    help
        Traccar Port


config DNS_CACHE_ENTRIES 
    int "Cache entries"
    range 1 10
    default 3
    help
        amount of URL's DNS queries to cache

config NETWORK_PACKET_SIZE
    int "Packet Size"
    range 512 4096
    default 512
    help
        size of a network packet that will be queued
endmenu

menu "Zephyr Kernel"
source "Kconfig.zephyr"
endmenu

module = Tracker
module-str = GPS Tracker Kconfig
source "${ZEPHYR_BASE}/subsys/logging/Kconfig.template.log_config"
