#
# Copyright (c) 2020 Nordic Semiconductor ASA
#
# SPDX-License-Identifier: LicenseRef-Nordic-5-Clause
#

menu "GPS Tracker"

config TRACCAR_HOSTNAME
    string "Server Hostname"
    depends on NETWORKING
    help
        Url for traccar server, eg traccar.example.com

config TRACCAR_PORT
    string "Port"
    depends on NETWORKING
    help
        Traccar Port

endmenu

menu "Zephyr Kernel"
source "Kconfig.zephyr"
endmenu

module = Tracker
module-str = GPS Tracker Kconfig
source "${ZEPHYR_BASE}/subsys/logging/Kconfig.template.log_config"
