#include <zephyr/dt-bindings/i2c/i2c.h>

&npm1300_leds {
            nordic,led0-mode = "host";
            nordic,led1-mode = "host";
            nordic,led2-mode = "host";
        };

&i2c2 {
    // clock-frequency = <I2C_BITRATE_FAST>;

    aht20: aht@38 {
        compatible = "aosong,aht20";
        reg = <0x38>;
    };
};

&pinctrl {
    spi1_default: spi1_default {
        group1 {
            psels = <NRF_PSEL(SPIM_SCK, 0, 27)>,
                    <NRF_PSEL(SPIM_MOSI, 0, 28)>,
                    <NRF_PSEL(SPIM_MISO, 0, 26)>;
        };
    };

    spi1_sleep: spi1_sleep {
        group1 {
            psels = <NRF_PSEL(SPIM_SCK, 0, 27)>,
                    <NRF_PSEL(SPIM_MOSI, 0, 28)>,
                    <NRF_PSEL(SPIM_MISO, 0, 26)>;
            low-power-enable;
        };
    };
};

&spi1 {
    compatible = "nordic,nrf-spim";
    status = "okay";
    pinctrl-0 = <&spi1_default>;
    pinctrl-1 = <&spi1_sleep>;
    pinctrl-names = "default", "sleep";
    cs-gpios = <&gpio0 29 GPIO_ACTIVE_LOW>;

    sdhc0: sdhc@0 {
        compatible = "zephyr,sdhc-spi-slot";
        reg = <0>;
        status = "okay";
        label = "SDHC0";
        spi-max-frequency = <24000000>;
        mmc {
            compatible = "zephyr,sdmmc-disk";
            status = "okay";
            disk-name = "SD";
        };
    };
};

&uart1 {
    status = "disabled";
};

/ {
    chosen {
        /delete-property/ nordic,modem-trace-uart;
    };
};

&npm1300_buck1 {
    regulator-min-microvolt = <3300000>;
};

&npm1300_charger {
    term-microvolt = <4200000>;
};
